*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.header {
  position: relative;
}
.header .bg {
  width: 100%;
  object-fit: fill;
  display: block;
}

.header .content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
}
.header .content .top {
  display: flex;
  margin: 0 18%;
  margin-top: 1.6rem;
  flex-wrap: wrap;
  gap: 3rem;
}
.header .content .top .logo img {
  width: 10rem;
  display: block;
}
.header .content .top .menus {
  margin-left: auto;
}
.header .content .top .menus ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header .content .top .menus ul > li .link a {
  color: #fff;
  text-decoration: none;
}

.header .content .desc {
  margin-left: 20%;
  margin-top: 13%;
  font-size: 2.4rem;
}
.header .content .desc .rect {
  width: 84px;
  height: 12px;
  background: #005fe8;
  margin-top: 0.5rem;
}
.main .gateway {
  width: 100%;
  background: linear-gradient(90deg, #015eea 0%, #00c0fa 100%);
}
.main .sec .p-s {
  padding: 5.2rem 0;
}
.main .sec .p-s img {
  display: block;
  margin: 0 auto;
}
.main .sec .desc {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.7rem;
  margin: 3rem auto;
  max-width: 996px;
  text-align: center;
}

.main .sec-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .sec-title h2 {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
}
.main .data .sec-title {
  padding-top: 5rem;
}
.main .data .sec-title h2 {
  color: #333333;
}
.main .data .desc {
  color: #4c4948;
}
.main .sec-title:after {
  content: "";
  width: 32px;
  height: 4px;
  background: #005fe8;
  display: block;
  margin-top: 1rem;
}
.main .gateway .fetures {
  display: flex;
  flex-wrap: wrap;
  max-width: 1134px;
  justify-content: space-between;
  margin: 0 auto;
}
.main .gateway .fetures .feture > dl dd {
  font-size: 1rem;
  font-weight: 400;
  color: #feffff;
  text-align: center;
  margin-top: 1rem;
}
.main .sec .btn-w {
  text-align: center;
}
.main .sec .more-btn {
  background: transparent;
  margin: 5rem auto;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 1.4rem;
  padding: 0.5rem 2rem;
  color: #fff;
  text-decoration: none;
}
.main .data {
  background: url(/assets/images/databg.png) no-repeat;
  background-position: center;
  object-fit: contain;
}
.main .data .fetures {
  display: flex;
  flex-wrap: wrap;
  max-width: 1134px;
  justify-content: space-between;
  margin: 0 auto;
}
.main .data .fetures .feture > dl {
  text-align: center;
}
.main .data .fetures .feture > dl dt img {
  display: block;
}
.main .data .fetures .feture > dl dt .title {
  font-size: 1rem;
  font-weight: 400;
  color: #2878ff;
  line-height: 1.2rem;
  margin: 1.6rem 0;
}
.main .data .fetures .feture > dl dd {
  color: #4c4948;
  line-height: 1.8rem;
}
.main .data .more-btn {
  border: 1px solid #005fe8;
  color: #005fe8;
}
.main .solution {
  background: url(/assets/images/fanganbg.png) no-repeat;
  background-position: center;
  object-fit: contain;
}
.main .solution .sec-title {
  padding-top: 5rem;
}
.main .solution .fangan {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
}
.main .solution .fangan-wrapper {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.main .solution .fangan > img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.main .solution .fangan .logo {
  position: absolute;
  width: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .solution .fangan .logo img {
  width: 24%;
}
.main .usecase .sec-title h2 {
  color: #333333;
}
.main .usecase .user-wrapper {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.main .usecase .user-wrapper img {
  display: block;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}
.main .comment .sec-title h2 {
  color: #333333;
}
.main .comment .comment-list {
  display: flex;
  gap: 1em;
  margin: 3rem 0;
  width: 100%;
  overflow-x: auto;
}
.main .comment .comment-list .comment-item {
  width: 400px;
  /* height: 231px; */
  background: #f3f7fd;
  border-radius: 10px;
  padding: 1.5em;
  flex: 0 0 auto;
}
.main .comment .comment-list .comment-item .name {
  color: #333;
  font-weight: 500;
  line-height: 1.8em;
}
.main .comment .comment-list .comment-item .title {
  color: #666;
  margin-bottom: 1em;
}
.main .comment .comment-list .comment-item .desc {
  line-height: 1.6em;
}
.footer {
  background: #0c0d22;
  display: inline-block;
  width: 100%;
  margin-top: 2em;
  padding: 4rem 0;
  color: #fff;
}
.footer > div {
  display: flex;
  justify-content: center;
  /* max-width: 1172px; */
}
.footer .footer-wrapper {
  display: flex;
  gap: 4rem;
}
.footer .logo {
  display: flex;
  gap: 4rem;
}
.footer .logo img {
    width: 14rem;
  }
.footer .footer-wrapper h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.footer .footer-wrapper .follow-us .qrcode {
  display: flex;
  gap: 1.5rem;
}
.footer .footer-wrapper .follow-us .qrcode dd {
  text-align: center;
}
.footer .footer-wrapper a {
  color: #fff;
  text-decoration: none;
}
.footer .footer-wrapper .products a {
  display: block;
}
.footer .footer-wrapper .paragraph {
  line-height: 2em;
}

@media (max-width: 1170px) {
  .main .data .fetures {
    justify-content: space-around;
    gap: 3rem;
  }
  .main .data .fetures:after {
    content: "";
    width: 310px;
  }
}

@media (max-width: 1000px) {
  .main .sec {
    padding: 0 2rem;
  }
  .header .content .top {
    margin: 0 3rem;
    margin-top: 1rem;
  }
  .header .content .desc {
    font-size: 1.6rem;
  }
  .header .content .desc .rect {
    height: 8px;
  }
  .footer .footer-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .main .gateway .fetures {
    gap: 3rem;
  }
}
@media (max-width: 560px) {
  .main .gateway .fetures {
    gap: 5rem;
  }
  .header .content .top .menus {
    margin-left: 0;
  }
  .header .content .top {
    gap: 1rem;
  }
  .header .content .desc {
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .header .content .desc .rect {
    height: 4px;
  }
}
